[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
pyzbar = "*"
paho-mqtt = "*"
python-dotenv = "*"
flake8 = "*"
black = "*"

[dev-packages]

[requires]
python_version = "3.12"
